{% extends 'administration/index.html.twig' %}
 {% block style %}
     <link href="{{ asset('BackEnd/assets/plugins/autocomplete/css/autoComplete.css') }}" rel="stylesheet">
     {# <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> #}
     <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
     <style>
         .small_card_header {
             padding: 15px 0 15px 30px !important;
         }

         .card_spacer {
             margin: 10px 0 15px !important;
         }

         .titre {
             margin-bottom: 0px !important;
             font-size: 20px;
     }
 </style>
 {% endblock %}



 {% block body %}
     <div class="container-fluid">
         <div class="row">
             <div class="col-sm-12 col-md-10 offset-md-1">
                 {{ include('administration/proprietes/_form.html.twig') }}

{#                 <div class="card">#}
{#                     <div class="card-header">#}
{#                         <h6 class="card-title titre"> Ajouter un Bien Immobilier </h6>#}

{#                     </div>#}
{#                     <div class="card-body">#}


{#                     </div>#}
{#                 </div>#}
             </div>
         </div>
     </div>

 {% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="{{ asset('FrontEnd/house/js/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('BackEnd/assets/plugins/autocomplete/js/autoComplete.js') }}"></script>

    {# <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('BackEnd/assets/js/pages/bootstrap-datetimepicker.js')}}"></script> #}

    <script>
        $(function () {
            document
                .querySelector("#birds")
                .setAttribute("placeholder", "Selectionnez le quartier ou le village");

            $("#birds").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/ajax/rechercher/quartier",
                        dataType: "json",
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 3,
                select: function (event, ui) {
                    $("#birds").val(ui.item.value);
                    $("#proprietes_quartiers").val(ui.item.id);
                    $("#project-description").html(ui.item.desc);
                    $("#project-icon").attr("src", "images/" + ui.item.icon);

                    return false;
                }
            })
                .autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li>")
                    .append("<div>" + item.value + " ( " + item.arrodissement + "," + item.commune + "," + item.departement + " ) " + " </div> ")
                    .appendTo(ul);
            };
        });
    </script>
    <script>
        jQuery(document).ready(function () {
            var $wrapper = $('.js-genus-scientist-wrapper');
            $wrapper.on('click', '.js-remove-scientist', function (e) {
                e.preventDefault();
                $(this).closest('.js-genus-scientist-item')
                    .fadeOut()
                    .remove();
            });
            $wrapper.on('click', '.js-genus-scientist-add', function (e) {
                e.preventDefault();
                // Get the data-prototype explained earlier
                var prototype = $wrapper.data('prototype');
                // get the new index
                var index = $wrapper.data('index');
                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);
                // increase the index with one for the next item
                $wrapper.data('index', index + 1);
                // Display the form in the page before the "new" link
                $(this).before(newForm);
            });
        });
    </script>

    <script>
        jQuery(document).ready(function () {
            $('.location').hide()
            $('.vente').hide()
            $('.maison').hide()
            $('.parcelle').hide()

        });
        var $contrat = $('#proprietes_TypeOptions_Contratypes')
        var $porpertyoptions = $('#proprietes_ProprieteOptions_Proprietes')
        var $token = $('#proprietes__token')
        var $avance = $('#proprietes_TypeOptions_Avance')
        var $totalavance = $('#montant-loyer')

        $contrat.change(function () {
                var $form = $(this).closest('form')
                var data = {}

                data[$token.attr('name')] = $token.val()
                data[$contrat.attr('name')] = $contrat.val()
                if ($contrat.val() == 1) {
                    $('.location').hide()
                    $('.vente').show()
                } else if ($contrat.val() == 2) {
                    $('.location').show()
                    $('.vente').hide()
                }
         else if ($contrat.val() == 3 ) {
                    $('.location').show()
                    $('.vente').hide()
        }
        else if ($contrat.val() == 4) {
                    $('.location').show()
                    $('.vente').hide()
                } else if ($contrat.val() == 5) {
                    $('.location').show()
                    $('.vente').hide()
                }
                else {
                    $('.location').hide()
                    $('.vente').hide()
                }


            }
        )

        $porpertyoptions.change(function () {
                var $form = $(this).closest('form')
                var data = {}

                data[$token.attr('name')] = $token.val()
                data[$porpertyoptions.attr('name')] = $porpertyoptions.val()
                if (($porpertyoptions.val() == 1) ||  ($porpertyoptions.val() == 2)) {
                    $('.maison').show()
                    $('.parcelle').hide()
                } else if ($porpertyoptions.val() == 4) {
                    $('.maison').hide()
                    $('.parcelle').show()
                } else {
                    $('.maison').hide()
                    $('.parcelle').hide()
                }


            }
        )

        $avance.change(function () {
            var $form = $(this).closest('form')
            var data = {}
            var $loyer =  $('#proprietes_TypeOptions_Loyer')

            data[$token.attr('name')] = $token.val()
            data[$avance.attr('name')] = $avance.val()

            if (($loyer !== 0 ) || ( $loyer !=null)){
                $totalavance1 = $loyer.val() * $avance.val()
                $totalavance.val($totalavance1)
            }

        })
        var $addTagLink = $('.add-another-collection-widget');


        // $('#proprietes_ProprieteOptions_Annedeconstruction').datepicker({
        //     rtl: KTUtil.isRTL(),
        //     todayHighlight: true,
        //     orientation: "bottom left",
        //     format: 'yyyy-mm-dd',
        //
        // });





    </script>


{% endblock %}