<div class="item">
    <!-- ONE -->
    <div class="card__image card__box">
        <div class="card__image-header h-250">
            {% if affichage is defined %}
                <div class="ribbon-feat text-uppercase">Nouveau</div>
            {% endif %}

            {% for img in bien.proprietesImages %}
                {% if loop.first %}
                    <a href="{{ path('proprietes_show',{'contrattype': bien.typeOptions.contratypes.slug,'proprietetype':bien.proprieteOptions.proprietes.Slug,'slug': bien.slug}) }}">
                        <img src="{{ asset('images/immobiliers/') }}{{ img.name }}" alt="{{ bien.slug }}"
                             class="img-fluid w100 img-transition">
                    </a>
                {% endif %}

            {% endfor %}

            <div class="info"> {{ bien.typeOptions.contratypes.libelle }}</div>
        </div>
        <div class="card__image-body">
                                    <span class="badge badge-primary text-capitalize mb-2">
                                        {{ bien.proprieteOptions.proprietes.libelle }}

                                    </span>
            <h6 class="text-capitalize">
                <a href="{{ path('proprietes_show',{'contrattype': bien.typeOptions.contratypes.slug,'proprietetype':bien.proprieteOptions.proprietes.Slug,'slug': bien.slug}) }}">
                    {% if bien.libelle | length > 41 %}
                        {{ bien.libelle | slice(0,35) }}...
                    {% else %}
                        {{ bien.libelle }}
                    {% endif %}

                </a>

            </h6>

            {# <p class="text-capitalize">
                <i class="fa fa-map-marker"></i>
                {{ bien.quartier }},
                {{ bien.quartier ? bien.quartier.LibQuart  : '' }},
                {{ bien.adresse }}
            </p> #}
            <ul class="list-inline card__content">
                {{ bien.proprieteOptions.nbreEtage }}#}
                {% if bien.proprieteOptions.nbreDouche %}
                    <li class="list-inline-item">
                                            <span>
                                                Douche <br>
                                                <i class="fa fa-bath"></i> {{ bien.proprieteOptions.nbreDouche }}
                                            </span>
                    </li>
                {% endif %}
                {% if bien.proprieteOptions.nbreChambre %}
                    <li class="list-inline-item">
                                            <span>
                                                Chambres <br>
                                                <i class="fa fa-bed"></i> {{ bien.proprieteOptions.nbreChambre }}
                                            </span>
                    </li>
                {% endif %}
                {% if bien.proprieteOptions.nbreSalon %}
                    <li class="list-inline-item">
                                            <span>
                                                Salon <br>
                                                <i class="fa fa-inbox"></i> {{ bien.proprieteOptions.nbreSalon }}
                                            </span>
                    </li>
                {% endif %}
                {% if bien.proprieteOptions.superfice %}
                    <li class="list-inline-item">
                                            <span>
                                                superifice <br>
                                                <i class="fa fa-map"></i> {{ bien.proprieteOptions.superfice }}
                                            </span>
                    </li>
                {% endif %}

                {# <li class="list-inline-item"> #}
                {# <span> #}
                {# beds <br> #}
                {# <i class="fa fa-bed"></i> 3 #}
                {# </span> #}
                {# </li> #}
                {# <li class="list-inline-item"> #}
                {# <span> #}
                {# rooms <br> #}
                {# <i class="fa fa-inbox"></i> 3 #}
                {# </span> #}
                {# </li> #}
                {# <li class="list-inline-item"> #}
                {# <span> #}
                {# area <br> #}
                {# <i class="fa fa-map"></i> 4300 sq ft #}
                {# </span> #}
                {# </li> #}
            </ul>
        </div>
        <div class="card__image-footer">

            <ul class="list-inline my-auto ml-auto">


                <li class="list-inline-item ">
                    <h6 style="font-size:14px">  {{ bien.typeOptions.montant ?  (bien.typeOptions.montant|number_format(0, ' ', ' ')) ~' Cfa': '' }}
                        {{ bien.typeOptions.loyer ? (bien.typeOptions.loyer|number_format(0, ' ', ' '))~' Cfa/mois' : '' }}
                    </h6>
                </li>
                {% if bien.ProprieteOptions.Proprietes.id == 5 %}
                    <li class="list-inline-item ">
                        <a class="btn btn-success btn-cicle"
                           href="{{ path('proprietes_reservation',{'slug': bien.slug}) }}"
                           style="font-size: 10px; color:#fff">
                            Réserver
                        </a>

                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
</a>
