<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="title__head">
                    <h2 class="text-center text-capitalize">
                        Derniéres annonces
                    </h2>
                    <p class="text-center text-capitalize">Retrouvez les dernieres annonces.</p>

                </div>
            </div>
        </div>

        <!--=========================================
=            Section Gallery two            =
==========================================-->
        <div class="card__image-filter">
            <div class="filterizr-control">
                <ul class="list-inline filterizr-filter">
                    <li class="list-inline-item filtr-active btn-filter" data-filter="all">Tous les biens</li>
                    <li class="list-inline-item btn-filter" data-filter="3">A Acheter</li>
                    <li class="list-inline-item btn-filter" data-filter="1">A louer</li>
                    <li class="list-inline-item btn-filter" data-filter="2">A vendre</li>
{#                    <li class="list-inline-item btn-filter" data-filter="4">Terrains</li>#}
                </ul>
            </div>

            <div class="row">
                <div class="filtr-container">
                    {% for bien in biens %}
                        {% if bien.typeOptions.contratypes.libelle == "A vendre"%}
                            <div class="col-md-4 col-lg-3 filtr-item" data-category="2" data-title="">
                        {% elseif bien.typeOptions.contratypes.libelle == "A acheter"%}
                                <div class="col-md-4 col-lg-3 filtr-item" data-category="3" data-title="">
                           {% else  %}
                                    <div class="col-md-4 col-lg-3 filtr-item" data-category="1" data-title="">

                        {% endif %}


                            <div class="card__image card__box-v1">
                                <div class="card__image-header h-250">
                                    <div class="ribbon text-capitalize">featured</div>
                                    {% for img in bien.proprietesImages %}
                                        {% if loop.first %}
                                            <img src="{{ asset('images/immobiliers/') }}{{ img.name }}" alt=""
                                                 class="img-fluid w100 img-transition">
                                        {% endif %}

                                    {% endfor %}
                                    <div class="info"> {{ bien.typeOptions.contratypes.libelle }}</div>
                                </div>
                                <div class="card__image-body">
                                    <span class="badge badge-primary text-capitalize mb-2">
                                        {{ bien.proprieteOptions.proprietes.libelle }}</span>
                                    <h6 class="text-capitalize">
                                        <a href="{{ path('proprietes_show',{'id': bien.id}) }}">
                                            {{ bien.libelle }}
                                        </a>
                                    </h6>

                                    <p class="text-capitalize">
                                        <i class="fa fa-map-marker"></i>
                                        {{ bien.quartier }}, {{ bien.adresse }}
                                    </p>
                                    <ul class="list-inline card__content">
                                        {% if bien.proprieteOptions.nbreDouche %}
                                            <li class="list-inline-item">
                                            <span>
                                                Douche <br>
                                                <i class="fa fa-bath"></i> {{ bien.proprieteOptions.nbreDouche }}
                                            </span>
                                            </li>
                                        {% endif %}
                                        {% if bien.proprieteOptions.nbreChambre %}
                                            <li class="list-inline-item">
                                            <span>
                                                Chambres <br>
                                                <i class="fa fa-bed"></i> {{ bien.proprieteOptions.nbreChambre }}
                                            </span>
                                            </li>
                                        {% endif %}
                                        {% if bien.proprieteOptions.nbreSalon %}
                                            <li class="list-inline-item">
                                            <span>
                                                Salon <br>
                                                <i class="fa fa-inbox"></i> {{ bien.proprieteOptions.nbreSalon }}
                                            </span>
                                            </li>
                                        {% endif %}
                                        {% if bien.proprieteOptions.superfice %}
                                            <li class="list-inline-item">
                                            <span>
                                                superifice <br>
                                                <i class="fa fa-map"></i> {{ bien.proprieteOptions.superfice  }}
                                            </span>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="card__image-footer">

                                    <ul class="list-inline my-auto ml-auto">
                                        <li class="list-inline-item">

                                            <h6>
                                                {{   bien.typeOptions.montant ?  (bien.typeOptions.montant|number_format(0, ' ', ' ')) ~' Cfa': '' }}
                                                {{ bien.typeOptions.loyer ? (bien.typeOptions.loyer|number_format(0, ' ', ' '))~' Cfa/mois' : '' }}

                                            </h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                                </div>
                            </div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>