<section class="single__Detail" style="padding-bottom: 0px!important;"
>
    <div class="container">
        <div class="row">
<!-- SLIDER IMAGE DETAIL -->
<div class="slider__image__detail-large-two owl-carousel owl-theme">
    {% set totalphoto = biens.proprietesImages | length %}
    {% for images in biens.proprietesImages %}
        <div class="item">
            <div class="slider__image__detail-large-one">
                <a data-fancybox="gallery" href="{{ asset('images/immobiliers/') }}{{ images.name }}">

                    <img src="{{ asset('images/immobiliers/') }}{{ images.name }}" alt="{{ biens.libelle }}"
                         class="img-fluid w-100 img-transition">
                    <div class="description">
                        <i class="fa fa-camera"></i> <span style="color: white"> {{ totalphoto }} </span>


                    </div>
                </a>
            </div>
        </div>
    {% endfor %}


</div>

<div class="slider__image__detail-thumb-two owl-carousel owl-theme">
    {% for images in biens.proprietesImages %}
        <div class="item">
            <div class="slider__image__detail-thumb-one">
                <img src="{{ asset('images/immobiliers/') }}{{ images.name }}" alt="{{ biens.libelle }}" class="img-fluid w-100 img-transition">
            </div>
        </div>
    {% endfor %}

</div>
<!-- END SLIDER IMAGE DETAIL -->
        </div>
    </div>
</section>