<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 col-8 mx-auto">
                <div class="title__head">
                    <h2 class="text-center">
                        {% if nature_annonce == 2 %}
                            Dérnières publications à louer
                        {% elseif  nature_annonce == 'Meuble' %}
                            Dérnières publications appartements meublés
                        {% elseif  nature_annonce == 'terre' %}
                            Domaines & terres agricoles
                        {% else %}
                            Dérnières publications à vendre
                        {% endif %}
                    </h2>

                </div>
            </div>
{#            <div class="col-4 more_mobile">#}

{#                {% if nature_annonce == 2 %}#}
{#                    <a href="{{ path('proprietes_listing',{'nature':'a-louer'}) }}" >#}
{#                {% elseif  nature_annonce == 'Meuble' %}#}
{#                    <a href="{{ path('proprietes_categorie_listing',{'nature':'appartement-meuble'}) }}">#}
{#                {% else %}#}
{#                    <a href="{{ path('proprietes_listing',{'nature':'a-vendre'}) }}">#}
{#                {% endif %}#}
{#                            Voir plus#}
{#                        </a>#}



{#            </div>#}
            <div class="clearfix"></div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="recent__property-carousel owl-carousel owl-theme">
                    {% if nature_annonce == 'Meuble' %}
                        {% for bien in biens %}
                            {% if bien.ProprieteOptions.Proprietes.id == 5 %}
                                {% include "FrontEnd/partials/_item.html.twig" %}
                            {% endif %}
                        {% endfor %}
                    {% elseif nature_annonce == 'terre' %}
                        {% for bien in biens %}
                            {% if bien.ProprieteOptions.Proprietes.id == 7 %}
                                {% include "FrontEnd/partials/_item.html.twig" %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for bien in biens %}
                            {% if bien.typeOptions.contratypes.id == nature_annonce and bien.ProprieteOptions.Proprietes.id != 5 %}
                                {% include "FrontEnd/partials/_item.html.twig" %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        {#        <div class="row">#}
        {#            <div class="col-md-12" style="text-align: center">#}

        {#                <div style="margin-top: 10px">#}

        {#                    <h1 style="text-align: center;">#}
        {#                        {% if nature_annonce == 2 %}#}

        {#                        <a href="{{ path('proprietes_listing',{'nature':'a-louer'}) }}"#}
        {#                           class="btn btn-success btn-cicle">#}
        {#                            {% elseif  nature_annonce == 'Meuble' %}#}
        {#                            <a href="{{ path('proprietes_categorie_listing',{'nature':'appartement-meuble'}) }}"#}
        {#                               class="btn btn-success btn-cicle">#}
        {#                                {% else %}#}
        {#                                <a href="{{ path('proprietes_listing',{'nature':'a-vendre'}) }}"#}
        {#                                   class="btn btn-success btn-cicle">#}
        {#                                    {% endif %}#}
        {#                                    Voir plus</a>#}
        {#                    </h1>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>
</section>