{% extends 'FrontEnd/base.html.twig' %}
{% block titre %}
    Qui sommes-nous?
{% endblock %}
{% block style %}
    <style>
        .en-tete {
            position: relative;
            margin: 0 auto;
            width: 100%;
        }

        .bandeau {
            position: relative;
            max-height: 650px;
            overflow: hidden;
        }

        .bandeau > img {
            width: 100%;
        }

        .resimg {
            margin: 0px;
            z-index: auto;
            width: 1905px;
            height: 973px;
            background: url(/images/app/securisation_fonciere/ilehya_securisation_fonciere.png) top fixed;
            /*padding: 0px;*/
            /*border-width: 0px;*/
            /*border-radius: 0px;*/
            /*x: 0px;*/
            /*y: -236.5px;*/
            /*transform: translateX(0px) translateY(-236.5px);*/
            /*filter: none;*/
        }

        #subheader {
            /* background: url(https://www.digitalbath.fr/images/background/bg-subheader.jpg)top fixed; */
            padding-top: 105px;
            display: flex;
            align-items: center;

            -webkit-background-size: 100% !important;
            -moz-background-size: 100% !important;
            -o-background-size: 100% !important;
            background-size: 100% !important;

        }

        .bg-light {
            align-items: center;
            /*margin: 9px;*/
        }

        .section__breadcrumb-v1 h1, h2 {
            color: #134363;
            font-family: "Montserrat Bold";
            font-size: 22px;
        }

        @media screen and (min-width: 320px) and (max-width: 575px) {

            .section__breadcrumb-v1 h1 {
                font-size: 18px;
            }
        }

        .card-text {
            color: #134363;
            font-size: 18px;
            font-family: "Montserrat", serif;
            font-weight: 900;

            line-height: 1.5;
            text-align: center;
        }

        .decr p {
            font-size: 18px;
            line-height: 1.6;
            text-align: justify;
        }
        .title--3 {
            font-size: 1.3rem;
            /*font-family: 'Montserrat',sans-serif;*/
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 1rem;
        }

        @media only screen and (min-width: 62rem) {
            .item_title_text {
                text-align: left;
            }
        }

        .item_title_text {
            text-align: center;
        }

        .container p {
            font-size: 18px;
            line-height: 1.6;
            text-align: justify;
        }

        @media only screen and (min-width: 62rem) {
            .item_icom {
                text-align: left;
            }
        }

        .item_icom {
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
            /*text-align: center;*/
        }

        .item_icom img {
            height: 4.5rem;
        }

        .item_icom {
            text-align: center;
        }

        @media screen and (min-width: 320px) and (max-width: 575px) {

            .align-items-center img {
                /*width: 100%;*/
                margin-bottom: 1.25rem;
                text-align: center;
            }

            .align-items-center h3 {
                font-size: 19px;
            }

        }
    </style>

{% endblock %}
 {# {% block navbar %}
     {% include 'FrontEnd/partials/_navbar_fixed_top.html.twig' %}

 {% endblock %} #}

{% block content %}
{#    <section class="section__breadcrumb bg-theme-static"#}
{#             style="margin-top: 15px;margin-bottom: 0!important; background:url({{ asset('images/app/construction/construction.jpg')cover fixed }})">#}
{#        <div class="container" style="height: 485px">#}
{#            <div class="row d-flex justify-content-center">#}
{#                <div class="col-md-8 text-center">#}


{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <div class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__breadcrumb-v1">
                        <div style="padding: 20px;">
                            <h1> {{ soustitre }}</h1></div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <section style="padding-top: 30px">
        <div class="container decr">
            <div class="row d-flex align-items-center">
                <div class="col-md-6">
                    <h3 style="color: #134363"> Une société civile immobilière</h3>
                    <p>
                        Ilehya Property Bénin est une société civile immobilière au capitale sociale de 2.000.000
                        FCFA enregistrée sous le numéro ABC 15B640 au Gufe d’Abomey-Calavi et ayant son siège social à
                        Godomey Finanafa c/lot – BP 271 Godomey, république du BÉNIN en activité depuis le
                        03/03/2015. <br>


                    </p>
                </div>

                <div class="col-md-6">
                    <h3 style="color: #134363; font-weight: 900"> Notre mission </h3>

                    <p>Nous accompagnons nos clients dans tous processus d’acquisition de
                        biens immobiliers de toutes natures, l’administration, la gestion par bail ou autrement, la
                        disposition des biens dont il sera propriétaire par voix d’acquisition, d’échanges, location,
                        d’achats/ventes de domaines, terrains, parcelles, bâtis ou nus. </p>
                </div>


            </div>

            <div class="row d-flex align-items-center" style="margin-top: 12px">
                <div class="col-md-6">
                    <h3 style="color: #134363"> Nos atouts et solutions </h3>
                    <p>La gestion et la promotion immobilière ne pouvant véritablement trouver du contenus et être
                        possible sans l’architecture et l’ingénierie du bâtiment, fort de nos expériences et d’une
                        ressource humaine de qualité constituée d'architectes et d’ingénieur en
                        Génie-civile, nous nous investissons à vous concevoir votre plan bâtiment sur mesure avec un
                        devis pointu et à suivre les travaux d’exécution avec méthode et rigueur quitte à vous remettre
                        votre clé un jour avant le délais convenu. </p>
                    <p>Nous sommes de même engagé dans les travaux de rénovation de toute sorte de manière à redonner vie
                        à vos bâtisses chargés d’histoire mais usées par le temps. </p>
                </div>
                <div class="col-md-6">
                    <img src="{{ asset('images/app/apropos/une-societe-civile-immobiliere-sci.jpeg') }}" width="100%">
                </div>

            </div>


            <div class="row d-flex align-items-center" style="margin-top: 12px">
                <div class="col-md-12">

                <h3 style="color: #134363"> Investir dans l'immobilier</h3>
                    <p>
                        Ilehya Property Bénin a également pour mission de faire tous placements de capitaux sous formes
                        de financement participatif par la souscription pour l’acquisition de biens immobiliers à fort
                        potentiel commercial et dont la remise en vente sur le marché à court ou à moyen terme génèrera
                        d’importants bénéfices qui seront redistribués sous forme de dividendes aux souscripteurs.
                    </p>

                    <p>Ilehya Property Bénin s’attaque à relever le défi pour aussi faciliter l’acquisition à la
                        propriété de ses filles et fils de la diaspora. </p>
                    <p>Ce challenge a besoin d’importants capitaux reparti sur trois axes à savoir : </p>
                    <ul>
                        <li>L’accompagnement dans la recherche de financement de nos clients qui achètent à crédit</li>
                        <li>Le financement des propriétaires qui ont un urgent besoin financier en attendant la vente de
                            leurs biens.
                        </li>
                        <li>Le financement de l’acquisition et de la viabilisation des domaines morcelés pour habitation
                            ;
                        </li>
                    </ul>
                    <p>
                        Devenez propriétaire d’une maison neuve et faites des économies
                        Payer vos loyers chaque mois, c’est dépenser votre argent à fond perdu. Au contraire, devenir
                        propriétaire, c’est un investissement. En remboursant à votre rythme, vous constituez, mois
                        après mois, votre propre capital et préparez un vrai patrimoine immobilier.

                    </p>
                    <p>
                        Il ne vous reste qu’à faire le pas. Nous sommes là pour vous accompagner à investir dans
                        l’utile, l’immobilier de sureté.
                    </p>
                </div>
            </div>

                {#                <div class="col-md-4">#}
                {#                    <img src="{{ asset('images/app/securisation_fonciere/Securisation-fonciere-Benin.jpg') }}"#}
                {#                         alt=" ilehya securisation fonciere" class="img-fluid mx-auto d-block">#}
                {#                </div>#}

        </div>
        {#        <div class="container descr">#}
        {#            <div class="row">#}
        {#                <p>#}
        {#                    C’est pour cela que ILEHYA PROPERTY par le biais de son service technique et juridique met à votre#}
        {#                    disposition une équipe pour vous accompagner dans le processus de sécurisation de vos biens#}
        {#                    immeuble. Ainsi vous gagner du temps et de l’énergie. <br> Vous n’aurez qu’à aller vaquer à vos#}
        {#                    occupations habituelles et nous faisons toutes les diligences pour vous obtenir vos actes et titre#}
        {#                    de propriétés dans les bref délais auprès des autorités compétentes.#}
        {#                </p>#}

        {#            </div>#}
        {#        </div>#}
        {#        <div class="container descr">#}
        {#            <p> Nous vous accompagnons notamment dans : </p>#}
        {#            <div class="row" style=" margin-bottom: 20px;">#}


        {#                <div class="col-md-4 col-sm-2">#}
        {#                    <div class="card">#}
        {#                        <img class="card-img-top"#}
        {#                             src="{{ asset('images/app/securisation_fonciere/Securisation-fonciere-Benin.jpg') }}"#}
        {#                             alt="Card image cap">#}
        {#                        <div class="card-body">#}
        {#                            <p class="card-text">Dans le levé topographique</p>#}
        {#                        </div>#}
        {#                    </div>#}

        {#                </div>#}
        {#                <div class="col-md-4 col-sm-2">#}
        {#                    <div class="card">#}
        {#                        <img class="card-img-top"#}
        {#                             src="{{ asset('images/app/securisation_fonciere/Securisation-fonciere-Benin.jpg') }}"#}
        {#                             alt="Card image cap">#}
        {#                        <div class="card-body">#}
        {#                            <p class="card-text">Le paiement des impôts fonciers</p>#}
        {#                        </div>#}
        {#                    </div>#}

        {#                </div>#}
        {#                <div class="col-md-4 col-sm-2">#}
        {#                    <div class="card">#}
        {#                        <img class="card-img-top"#}
        {#                             src="{{ asset('images/app/securisation_fonciere/Securisation-fonciere-Benin.jpg') }}"#}
        {#                             alt="Card image cap">#}
        {#                        <div class="card-body">#}
        {#                            <p class="card-text"> Conventions de vente </p>#}
        {#                        </div>#}
        {#                    </div>#}

        {#                </div>#}
        {#            </div>#}
        {#            <div class="row">#}
        {#                <div class="col-md-4 col-sm-2">#}
        {#                    <div class="card">#}
        {#                        <img class="card-img-top"#}
        {#                             src="{{ asset('images/app/securisation_fonciere/Securisation-fonciere-Benin.jpg') }}"#}
        {#                             alt="Card image cap">#}
        {#                        <div class="card-body">#}
        {#                            <p class="card-text">L’obtention de l’attestation de détention coutumière</p>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#                <div class="col-md-4 col-sm-2">#}
        {#                    <div class="card">#}
        {#                        <img class="card-img-top" src="{{ asset('images/app/securisation_fonciere/recasement.jpg') }}"#}
        {#                             alt="Card image cap">#}
        {#                        <div class="card-body">#}
        {#                            <p class="card-text">Le recasement et l’obtention de l’attestation</p>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#                <div class="col-md-4 col-sm-2">#}
        {#                    <div class="card">#}
        {#                        <img class="card-img-top"#}
        {#                             src="{{ asset('images/app/securisation_fonciere/Securisation-fonciere-Benin.jpg') }}"#}
        {#                             alt="Card image cap">#}
        {#                        <div class="card-body">#}
        {#                            <p class="card-text">L’obtention du titre foncier.</p>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="row descr">#}
        {#                <p class="descr"> Pour nous mandater veillez nous contacter au (+229) 99403434 ou remplir le formulaire#}
        {#                    ci-dessous et nous vous contactons. </p>#}
        {#            </div>#}
        {#        </div>#}
    </section>
{% endblock %}