{% extends 'FrontEnd/base.html.twig' %}
{% block style %}
    <link href="{{ asset('FrontEnd/house/css/jquery.steps.css') }}" rel="stylesheet">
    <link href="{{ asset('BackEnd/assets/plugins/autocomplete/css/autoComplete.css') }}" rel="stylesheet">
    <style>
        .col-sm-offset-3 {
            margin-left: 25%;
        }

        @media (min-width: 768px) {
            .col-sm-offset-3 {
                margin-left: 25%;
            }
            .clearfix {
                padding-top: 0px!important;
            }
        }

        .col-sm-6 p {
            font-size: 19px;
            line-height: 35px;

        }
        @media screen and (min-width: 320px) and (max-width: 575px) {
            .clearfix {
                padding-top: 0px!important;
            }


        }
        .ca {
            padding: 25px;
            background: #fff;
            /*max-width: 500px;*/
            /*width: 100%;*/
            border-radius: 7px;
            box-shadow: 0 15px 20px rgba(0, 0, 0, 0.55);
        }
    </style>

    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.0/nouislider.min.css" integrity="sha512-6JqGSqQ++AEggYltdgSse8pKG90U/5U0bbkZoa94uSDG/BhI5YpYcy2LyWPWjXu40lUVEgEKHZ/2hCrwQvbODw==" crossorigin="anonymous" /> #}

{% endblock %}
{# {% block navbar %}#}
{#     #}{# {% include 'FrontEnd/partials/_navbar_fixed_top.html.twig' %}#}

{# {% endblock %} #}
{% block content %}
    <div class="clearfix clearfix-mobile" style="padding-top: 130px!important;"></div>
    <div class="container ca mb-5">
        <div class="row">
            <div class="col-md-10 offset-md-1 mb-15">
                <h5 class="text-center">
                    Votre estimation est prête
                </h5>
                <br>
                <p class="text-justify">
                    L'estimation de votre bien se situant dans l'arrondissement {{ arrondissement }} en
                    zone {{ zone }}. <br>
                </p>
                <p class="text-justify">
                    Le prix préférentiel de l’État fixé par arrêté représentant en même temps le prix minimum auquel
                    vous pouvez céder votre parcelle ou domaine est de : <span
                            style="color: red"> {{ estimation |number_format(0, ' ', ' ') }} FCFA </span>
                </p>
                <p class="text-justify">
                    Le prix moyen du marché sur la base de notre système de calcul est de : <span
                            style="color: green">  {{ prixMoyen |number_format(0, ' ', ' ') }} FCFA </span> <br>
                </p>
                <p class="text-justify">
                    Le prix moyen indiqué est basé sur un système de calcul de la
                    moyenne des références de prix que nous avons observés dans la zone. <br> Selon le positionnement de
                    votre bien, du niveau d’urbanisation et de certains facteurs environnementaux, la valeur de votre
                    bien peut être légèrement en dessous ou en dessus du prix moyen indiqué dans l’estimation.
                    <br>

                    <br>

                </p>
                <p>
                    Pour des usages spécifiques veuillez nous contacter pour une expertise immobilière pour avoir une
                    estimation très précise de la valeur de votre bien.
                </p>
                <p>
                    Merci de nous joindre au +229 52 74 62 74 par appel ou WhatsApp ou nous écrire par email :
                    infos@ilehya.com
                </p>
                <h6 class="text-center mb-5">
                    Merci
                </h6>
            </div>

        </div>
    </div>

{% endblock %}
