{% extends 'FrontEnd/base.html.twig' %}
{% block style%}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <style>
        section {
            padding: 35px 0 !important;
        }

        /*.owl-next, .owl.prev {*/
        /*    margin:35px;*/
        /*}*/

        .card__image-body h6 a {

            /* font-size: 15px */
            font-size: 12px !important;
        }

        .link__overlay {
            border-radius: 4px;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), to(rgba(27, 51, 83, .75)));
            background-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0), rgba(27, 51, 83, .75));
            background-image: linear-gradient(
                    180deg, hsla(0, 0%, 100%, 0), rgba(27, 51, 83, .75));
        }

        .images_caption {
            width: 100%;
            font-weight: 900;
            font-size: 24px;
            color: #fff;
            position: absolute;
            text-align: center;
            bottom: 0.75rem;
        }

        .owl-dots {
            display: none;
        }
        .more_mobile {
            display: none;
        }
        .carousel-item .mobile  {
            display: none;
        }

        .carousel-item .deskpot  {
            display: block;
        }
        @media screen and (min-width: 320px) and (max-width: 575px) {
            .recent__property-carousel .owl-dots {
                display: none !important;
            }
            .title__head h2::before, .title__head h2::after {
                display: none;
                text-align: left;
            }
            .title__head h2 {
            justify-content: flex-start;
        }
            .more_mobile {
                display: inline;
                font-size: 12px;
                font-weight: 900;
                justify-content: flex-end;
            }
            .featured__property {

            }

            .carousel-item .mobile  {
                display: flex;
            }

            .carousel-item .deskpot  {
                display: none !important;
            }
        }

        .figure-img {
            max-height: 145px;
        }
          .css-1biltnr {
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
            display: block;
        }

        .btn-primary-custom {
            color: #fff;
            background-color: #0f3f60;
            border-color: #ffeba5;
            padding: 10px 30px;
            font-size: 11px;
            line-height: 18px;
            border-radius: 50px;
        }

    </style>

{% endblock %}
{% block content %}
    {# {% set link = {{ path('proprietes_show',{'contrattype': bien.typeOptions.contratypes.id,'proprietetype':bien.proprieteOptions.proprietes.id,'id': bien.id}) }} %} #}
{#    {% include 'FrontEnd/partials/_carousel.html.twig' %}#}
    <!-- END CAROSUEL -->
{#    <div class="clearfix"></div>#}
    {# <div class="search__area-inner"> #}
    {# style="padding: 00px!important;" #}


    <section class="search__area bg-light" >
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                  <h4 style="color: #ff9000">  SOCIETE CIVILE IMMOBILIERE </h4>
                    <ul>
                        <li> Gestion d'actifs immobiliérs </li>
                        <li> Construction et renovation  </li>
                        <li> Estimation de bien immobilier  </li>
                    </ul>
                </div>
                <div class="col-12 col-md-8 d-sm-block d-none">
                    <div class="slider">
                        {% for ban in bannieres %}
                            <div>
                                <img src="{{ ban |imagine_filter ('pub_banniere') }}" width="100%">
                            </div>
                        {% endfor %}

{#                        <div>#}
{#                            <img src="{{ asset('images/app/pub/banniere-publicitaire.png') }}" width="100%">#}
{#                        </div>#}
                    </div>

                </div>
{#                <div class="col-6 col-md-6">#}
{#                    <ul>#}
{#                        <li> Securisation fonciere </li>#}
{#                        <li> Construction et renovation  </li>#}
{#                    </ul>#}
{#                </div>#}
            </div>

            <div class="search__area-inner">
                {% include 'FrontEnd/partials/_recherche_form.html.twig' %}
            </div>
        </div>
    </section>

    <!-- RECHERCHE PAR CATEGORIE -->
    {% include 'FrontEnd/partials/_recherche_par_categorie.html.twig' %}
    <!-- END RECHERCHE PAR CATEGORIE -->
    <!-- A VENDRE DANS LES GRANDES VILLES -->
    {% include 'FrontEnd/partials/_avendre_grande_ville.html.twig' %}
    <!-- END VENDRE DANS LES GRANDES VILLES -->
    <!-- FEATURED PROPERTIES -->
    {% include 'FrontEnd/partials/_featured.html.twig' %}
    <!-- END FEATURED PROPERTIES -->

    <!-- Call To action -->
    {% include'FrontEnd/partials/_call-to-action-1.html.twig' %}

    <!-- NOUVEAUTE PROPERTIES -->
    {% include 'FrontEnd/partials/_recent_porperty.html.twig' with {'nature_annonce': 2} %}
    <!-- END NOUVEAUTE PROPERTIES -->

    <!-- Call To action -->
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-12 text-center">
                <a href="{{ path('estimation ') }}">
                <img src="{{ asset('images/app/CTA/immo-2.jpg') }}" alt="" width="1200px" class="img-fluid">
                </a>
            </div>
        </div>
    </div>

    <!-- NOUVEAUTE PROPERTIES -->
    {% include 'FrontEnd/partials/_recent_porperty.html.twig' with {'nature_annonce': 1} %}

    <!-- Call To action -->
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-12 text-center">
                <a href="{{ path('proprietes_categorie_listing',{'nature':'appartement-meuble'}) }}">
                <img src="{{ asset('images/app/CTA/immo-3.jpg') }}" alt="" width="1200px" class="img-fluid">
                </a>
            </div>
        </div>
    </div>

    {% include 'FrontEnd/partials/_recent_porperty.html.twig' with {'nature_annonce': 'Meuble'} %}

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-12 text-center">
                <a href="{{ path('proprietes_categorie_listing',{'nature':'appartement-meuble'}) }}">
                    <img src="{{ asset('images/app/CTA/immo-3.jpg') }}" alt="" width="1200px" class="img-fluid">
                </a>
            </div>
        </div>
    </div>

    {% include 'FrontEnd/partials/_recent_porperty.html.twig' with {'nature_annonce': 'terre'} %}

    <div class="container d-block d-sm-none">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-12 text-center">

                    <img src="{{ asset('images/app/pub/banniere-publicitaire.png') }}" alt="" width="100%" class="img-fluid">

            </div>
        </div>
    </div>

    <!-- ABOUT -->
    {# {% include 'FrontEnd/partials/_about.html.twig' %} #}

    <!-- OUR PARTNERS -->
    {% include 'FrontEnd/partials/_partners.html.twig' %}


{% endblock %}
{% block javascripts %}
{#    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>#}
{#    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>#}
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


    <script>
        $(document).ready(function(){
            $('.slider').slick({
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                dots: false,
                speed: 500,
                autoplay: true,
                autoplaySpeed: 2000,
        });
        });
    </script>
{#    <script src="{{ asset('FrontEnd/house/js/select-lies.js') }}"></script>#}
{% endblock %}
