{% extends 'FrontEnd/base.html.twig' %}
{% block style %}
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.0/nouislider.min.css" integrity="sha512-6JqGSqQ++AEggYltdgSse8pKG90U/5U0bbkZoa94uSDG/BhI5YpYcy2LyWPWjXu40lUVEgEKHZ/2hCrwQvbODw==" crossorigin="anonymous" /> #}

    <style>
        @media screen and (min-width: 320px) and (max-width: 575px) {

            .list-titre h2 {
                font-size: 15px;
            }
            .list-titre  {
               padding: 0px !important;
            }
        }
    </style>
{% endblock %}
{% block navbar %}
    {% include 'FrontEnd/partials/_navbar_fixed_top.html.twig' %}


{% endblock %}
{% block content %}


{#    <section class="section__breadcrumb bg-theme-overlay" style="margin-top: 80px;margin-bottom: 0!important; ">#}
{#        <div class="container">#}
{#            <div class="row d-flex justify-content-center">#}
{#                <div class="col-md-8 text-center" >#}
{#                    <br/> <br/>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}


    <section class="search__area bg__shadow" style="padding: 00px!important; ">
        <div class="container">
            <div class="search__area-inner">
                {% include 'FrontEnd/partials/_recherche_form.html.twig' %}
            </div>
        </div>
    </section>
    <section style="padding: 20px!important; " class="list-titre">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 text-center">
                    <h2 >{{ titre }}</h2>

                </div>
            </div>
        </div>
    </section>



    <!-- LISTING LIST -->
    <section style="padding-top: 30px">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tabs__custom-v2 ">
                                <!-- FILTER VERTICAL -->
                                <ul class="nav nav-pills myTab" role="tablist">
                                    {# <li class="list-inline-item mr-auto"> #}
                                    {# <span class="title-text">Sort by</span> #}
                                    {# <div class="btn-group"> #}
                                    {# <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" #}
                                    {# aria-haspopup="true" aria-expanded="false"> #}
                                    {# Based Properties #}
                                    {# </a> #}
                                    {# <div class="dropdown-menu"> #}
                                    {# <a class="dropdown-item" href="javascript:void(0)">Low to High Price</a> #}
                                    {# <a class="dropdown-item" href="javascript:void(0)">High to Low Price #}
                                    {# </a> #}
                                    {# <a class="dropdown-item" href="javascript:void(0)">Sell Properties</a> #}

                                    {# <a class="dropdown-item" href="javascript:void(0)">Rent Properties</a> #}
                                    {# </div> #}
                                    {# </div> #}
                                    {# </li> #}
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#pills-tab-one" role="tab"
                                           aria-controls="pills-tab-one" aria-selected="true">
                                            <span class="fa fa-th-list"></span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="pill" href="#pills-tab-two" role="tab"
                                           aria-controls="pills-tab-two" aria-selected="false">
                                            <span class="fa fa-th-large"></span></a>
                                    </li>
                                </ul>


                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade" id="pills-tab-one" role="tabpanel"
                                         aria-labelledby="pills-tab-one">
                                        <div class="row">
                                            {% for bien in  biens %}
                                                <div class="col-lg-12">
                                                    <div class="card__image card__box-v1">
                                                        <div class="row no-gutters">
                                                            <div class="col-md-4 col-lg-3 col-xl-4">
                                                                <div class="card__image__header h-250">
                                                                    <a href="#">
                                                                        {# <div class="ribbon text-capitalize">sold out</div> #}

                                                                        {% for img in bien.proprietesImages %}
                                                                            {% if loop.first %}
                                                                                <img src="{{ asset('images/immobiliers/') }}{{ img.name }}"
                                                                                     alt="{{ bien.libelle }}"
                                                                                     class="img-fluid w100 img-transition">
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                        <div class="info"> {{ bien.typeOptions.contratypes.libelle }}</div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                                                                <div class="card__image__body">

                                                                <span
                                                                        class="badge badge-primary text-capitalize mb-2">{{ bien.proprieteOptions.proprietes.libelle }}</span>
                                                                    <h6>
                                                                        <a href="{{ path('proprietes_show',{'contrattype': bien.typeOptions.contratypes.slug,'proprietetype':bien.proprieteOptions.proprietes.Slug,'slug': bien.slug}) }}">
                                                                            {% if bien.libelle | length > 31 %}
                                                                                {{ bien.libelle | slice(0,25) }}...
                                                                            {% else %}
                                                                                {{ bien.libelle }}
                                                                            {% endif %}

                                                                        </a>
                                                                    </h6>
                                                                    <div class="card__image__body-desc">
                                                                        <!-- <p class="text-capitalize">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, alias!

                        </p> -->
                                                                        <p class="text-capitalize">
                                                                            <i class="fa fa-map-marker"></i>
                                                                            {{ bien.quartier ? bien.quartier.LibQuart: '' }}
                                                                            ,
                                                                            {{ bien.adresse }}
                                                                        </p>
                                                                    </div>

                                                                    <ul class="list-inline card__content">
                                                                        {{ bien.proprieteOptions.nbreEtage }}#}
                                                                        {% if bien.proprieteOptions.nbreDouche %}
                                                                            <li class="list-inline-item">
                                            <span>
                                                Douche <br>
                                                <i class="fa fa-bath"></i> {{ bien.proprieteOptions.nbreDouche }}
                                            </span>
                                                                            </li>
                                                                        {% endif %}
                                                                        {% if bien.proprieteOptions.nbreChambre %}
                                                                            <li class="list-inline-item">
                                            <span>
                                                Chambres <br>
                                                <i class="fa fa-bed"></i> {{ bien.proprieteOptions.nbreChambre }}
                                            </span>
                                                                            </li>
                                                                        {% endif %}
                                                                        {% if bien.proprieteOptions.nbreSalon %}
                                                                            <li class="list-inline-item">
                                            <span>
                                                Salon <br>
                                                <i class="fa fa-inbox"></i> {{ bien.proprieteOptions.nbreSalon }}
                                            </span>
                                                                            </li>
                                                                        {% endif %}
                                                                        {% if bien.proprieteOptions.superfice %}
                                                                            <li class="list-inline-item">
                                            <span>
                                                superifice <br>
                                                <i class="fa fa-map"></i> {{ bien.proprieteOptions.superfice }}
                                            </span>
                                                                            </li>
                                                                        {% endif %}

                                                                        {# <li class="list-inline-item"> #}
                                                                        {# <span> #}
                                                                        {# beds <br> #}
                                                                        {# <i class="fa fa-bed"></i> 3 #}
                                                                        {# </span> #}
                                                                        {# </li> #}
                                                                        {# <li class="list-inline-item"> #}
                                                                        {# <span> #}
                                                                        {# rooms <br> #}
                                                                        {# <i class="fa fa-inbox"></i> 3 #}
                                                                        {# </span> #}
                                                                        {# </li> #}
                                                                        {# <li class="list-inline-item"> #}
                                                                        {# <span> #}
                                                                        {# area <br> #}
                                                                        {# <i class="fa fa-map"></i> 4300 sq ft #}
                                                                        {# </span> #}
                                                                        {# </li> #}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-lg-3 col-xl-3 my-auto card__image__footer-first">
                                                                <div class="card__image__footer">


                                                                    <ul class="list-inline my-atuo ml-auto price">
                                                                        <li class="list-inline-item ">

                                                                            <h6>
                                                                                {{ bien.typeOptions.montant ?  (bien.typeOptions.montant|number_format(0, ' ', ' ')) ~' Cfa': '' }}
                                                                                {{ bien.typeOptions.loyer ? (bien.typeOptions.loyer|number_format(0, ' ', ' '))~' Cfa/mois' : '' }}

                                                                            </h6>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}


                                        </div>

                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="tab-pane fade show active" id="pills-tab-two" role="tabpanel"
                                         aria-labelledby="pills-tab-two">

                                        <div class="row">
                                            {% for bien in biens %}
                                                <div class="col-md-4 col-lg-4">
                                                    <div class="card__image card__box-v1">
                                                        <div class="card__image-header h-250">
                                                            {# <div class="ribbon text-capitalize">featured</div> #}
                                                            {% for img in bien.proprietesImages %}
                                                                {% if loop.first %}
                                                                    <img src="{{ asset('images/immobiliers/') }}{{ img.name }}"
                                                                         alt=""
                                                                         class="img-fluid w100 img-transition">
                                                                {% endif %}
                                                            {% endfor %}

                                                            <div class="info"> {{ bien.typeOptions.contratypes.libelle }} </div>
                                                        </div>
                                                        <div class="card__image-body">
                                                        <span
                                                                class="badge badge-primary text-capitalize mb-2"> {{ bien.proprieteOptions.proprietes.libelle }}</span>
                                                            <h6 class="text-capitalize">
                                                                <a href="{{ path('proprietes_show',{'contrattype': bien.typeOptions.contratypes.slug,'proprietetype':bien.proprieteOptions.proprietes.Slug,'slug': bien.slug}) }}">
                                                                    {% if bien.libelle | length > 31 %}
                                                                        {{ bien.libelle | slice(0,25) }}...
                                                                    {% else %}
                                                                        {{ bien.libelle }}
                                                                    {% endif %}

                                                                </a>
                                                            </h6>

                                                            <p class="text-capitalize">
                                                                <i class="fa fa-map-marker"></i>
                                                                {{ bien.quartier ? bien.quartier.LibQuart: '' }},
                                                                {{ bien.adresse }}
                                                            </p>
                                                            <ul class="list-inline card__content">
                                                                {{ bien.proprieteOptions.nbreEtage }}#}
                                                                {% if bien.proprieteOptions.nbreDouche %}
                                                                    <li class="list-inline-item">
                                            <span>
                                                Douche <br>
                                                <i class="fa fa-bath"></i> {{ bien.proprieteOptions.nbreDouche }}
                                            </span>
                                                                    </li>
                                                                {% endif %}
                                                                {% if bien.proprieteOptions.nbreChambre %}
                                                                    <li class="list-inline-item">
                                            <span>
                                                Chambres <br>
                                                <i class="fa fa-bed"></i> {{ bien.proprieteOptions.nbreChambre }}
                                            </span>
                                                                    </li>
                                                                {% endif %}
                                                                {% if bien.proprieteOptions.nbreSalon %}
                                                                    <li class="list-inline-item">
                                            <span>
                                                Salon <br>
                                                <i class="fa fa-inbox"></i> {{ bien.proprieteOptions.nbreSalon }}
                                            </span>
                                                                    </li>
                                                                {% endif %}
                                                                {% if bien.proprieteOptions.superfice %}
                                                                    <li class="list-inline-item">
                                            <span>
                                                superifice <br>
                                                <i class="fa fa-map"></i> {{ bien.proprieteOptions.superfice }}
                                            </span>
                                                                    </li>
                                                                {% endif %}

                                                                {# <li class="list-inline-item"> #}
                                                                {# <span> #}
                                                                {# beds <br> #}
                                                                {# <i class="fa fa-bed"></i> 3 #}
                                                                {# </span> #}
                                                                {# </li> #}
                                                                {# <li class="list-inline-item"> #}
                                                                {# <span> #}
                                                                {# rooms <br> #}
                                                                {# <i class="fa fa-inbox"></i> 3 #}
                                                                {# </span> #}
                                                                {# </li> #}
                                                                {# <li class="list-inline-item"> #}
                                                                {# <span> #}
                                                                {# area <br> #}
                                                                {# <i class="fa fa-map"></i> 4300 sq ft #}
                                                                {# </span> #}
                                                                {# </li> #}
                                                            </ul>
                                                        </div>
                                                        <div class="card__image-footer">

                                                            <ul class="list-inline my-auto ml-auto">
                                                                <li class="list-inline-item ">


                                                                    <h6>  {{ bien.typeOptions.montant ?  (bien.typeOptions.montant|number_format(0, ' ', ' ')) ~' Cfa': '' }}
                                                                        {{ bien.typeOptions.loyer ? (bien.typeOptions.loyer|number_format(0, ' ', ' '))~' Cfa/mois' : '' }}
                                                                    </h6>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}


                                        </div>

                                        <div class="cleafix"></div>
                                    </div>


                                </div>
                                <!-- END FILTER VERTICAL -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END LISTING LIST -->
    <!-- CALL TO ACTION -->
    <section class="cta-v1 py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-9">
                    <h2 class="text-uppercase text-white">Quelle est la valeur de mom bien?</h2>
                    <p class="text-capitalize text-white">Estimer mon bien en ligne

                    </p>

                </div>
                <div class="col-lg-3">
                    <a href="{{ path('estimation  ') }}" class="btn btn-light text-uppercase ">Estimer
                        <i class="fa fa-angle-right ml-3 arrow-btn "></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- END CALL TO ACTION -->
{% endblock %}