{% extends 'FrontEnd/base.html.twig' %}
{% block style %}
    <style>
        .resimg {
            margin: 0px;
            z-index: auto;
            width: 1905px;
            height: 973px;
            background: url(/images/app/securisation_fonciere/ILEHYA PROPERTY CONSTRUCTION.jpg) top fixed;
            /*padding: 0px;*/
            /*border-width: 0px;*/
            /*border-radius: 0px;*/
            /*x: 0px;*/
            /*y: -236.5px;*/
            /*transform: translateX(0px) translateY(-236.5px);*/
            /*filter: none;*/
        }

        #subheader {
            /* background: url(https://www.digitalbath.fr/images/background/bg-subheader.jpg)top fixed; */
            padding-top: 105px;
            display: flex;
            align-items: center;

            -webkit-background-size: 100% !important;
            -moz-background-size: 100% !important;
            -o-background-size: 100% !important;
            background-size: 100% !important;

        }

        .bg-light {
            align-items: center;
            /*margin: 9px;*/
        }

        .section__breadcrumb-v1 h1, h2 {
            /*font-family: "Lato", serif;*/
            color: #134363;
            font-family:"Montserrat Bold"
        }

        .card-text {
            color: #134363;
            font-size: 15px;
            font-family: "Lato", serif;
            font-weight: 900;

            line-height: 1.5;
            text-align: center;
        }

        .decr p {
            font-size: 18px;
            line-height: 1.6;
            text-align: justify;
        }
    </style>

{% endblock %}
 {% block navbar %}
     {% include 'FrontEnd/partials/_navbar_fixed_top.html.twig' %}

 {% endblock %}

{% block content %}
    {#    <div class="container-fluid">#}
    {#        <div class="row resimg" style="min-width: 1905px; left: 0px; width: 1905px;">#}
    {#                <img src="{{ asset('images/app/securisation_fonciere/ilehya_securisation_fonciere.png') }}" class="resimg">#}
    {#        </div>#}
    {#    </div>#}
    <section id="subheader" data-speed="8" data-type="background"
             style="background:url(/images/app/construction/ILEHYA_PROPERTY_CONSTRUCTION.jpg)top fixed;height: 675px;text-align: center;">
        <!--<div data-aos="fade-up" class="aos-init aos-animate"> <h1>E-commerce</h1> <h2>La performance e-commerce pour développer votre activité de vente en ligne</h2> </div>-->

    </section>
    <div class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__breadcrumb-v1">
                        <div>
                            <h1 style="text-align: center;">Ilehya Property Bénin Service</h1>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__breadcrumb-v1">
                        <div><h2 style="text-align: center;  color:#ff9000"> {{ soustitre }} </h2>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container decr">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Construire sa maison à son goût et sans défaut peut sembler à première vue facile dans la mesure
                        où on pense que c’est une question de moyens.
                        Mais en réalité le processus de possession de sa maison, villa ou toute autre type de résidence
                        ou encore d’immeuble devant servir à la location ou à des exploitations commerciales, construit
                        au neuf dont on est soi-même le maitre d’ouvrage peut très vite se révéler très fastidieux
                        surtout quand on n’a pas assez de temps et ou quand on est de la diaspora, loin du lieu où
                        doivent s’exécuter les travaux : Gestion des approvisionnements en matériaux de qualité,
                        problème de qualité de l’ouvrage, problème de livraisons des travaux dans les délais etc. <br>
                        Tout ceci peut devenir très rapidement un casse-tête et vous rendre insomniaque.

                    </p>
                    <p>SPar le passé, plusieurs compatriotes ont vu leurs ressources financières envoyées pour des fins
                        de travaux de construction partir en fumé soit détournées par une tierce personne mandatée pour
                        la conduite et l’exécution des travaux, soit par des membres de leurs familles.
                        <br> Aujourd’hui, il n’est plus question de souffrir ces maux après avoir sué pour obtenir ses
                        ressources qui pour vous devraient servir à un ou des investissements structurés, de qualité et
                        livrer à bonne date.

                    </p>
                    <p>
                        Ainsi l’ensemble des travaux de construction que nous réalisons à l’endroit de nos clients sont
                        couverts par une police d’assurance d’une grande compagnie d’assurance qui procède à un
                        dédommagement systématique de tous dégâts ou dommages matériels ou financier qui pourraient
                        survenir éventuellement dans le cadre de votre projet avec nous.
                    </p>

                </div>


            </div>

        </div>
        <div class="container decr">
            <div class="row">
                <p>
                    Avec notre équipe d’architectes chevronnés, d’ingénieur et de techniciens en géni-civil, nous vous
                    assurons une gestion de qualité de votre projet de construction par:
                </p>
                <ul style="list-style: none">
                    <li> <i class="fa fa-check " aria-hidden="true"></i> La conception de votre avant-projet qui vous donne un aperçu de ce qui arrive.</li>
                    <li> <i class="fa fa-check " aria-hidden="true"></i> L’étude géotechnique.</li>
                    <li> <i class="fa fa-check " aria-hidden="true"></i> La conception du plan architectural définitif retenu ainsi que le devis qui l’accompagne</li>
                    <li> <i class="fa fa-check " aria-hidden="true"></i> L’obtention du permis de construire.</li>
                    <li> <i class="fa fa-check " aria-hidden="true"></i> L’exécution rigoureuse des travaux du gros œuvre à la finition ainsi que de tous les
                        aménagements nécessaires jusqu’à la livraison clé en main dans le strict respect des délais
                        convenus dans le cahier de charge.
                    </li>
                    <li></li>
                </ul>

            </div>
        </div>
        <div class="container decr">
            <div class="row" style=" margin-bottom: 20px;">
                <div class="col-md-4 col-sm-2">
                    <div class="card">
                        <img class="card-img-top"
                             src="{{ asset('images/app/construction/plan_architectural_construction_Benin.jpg') }}"
                             alt="architectural ilheya porperty" height="230px">
                        <div class="card-body">
                            <p class="card-text">Plan architectural</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-2">
                    <div class="card">
                        <img class="card-img-top"
                             src="{{ asset('images/app/construction/etude_geothechnique_ILEHYA_PROPERTY.jpg') }}"
                             alt="étude géotechnique ilehya porperty">
                        <div class="card-body">
                            <p class="card-text">L’étude géotechnique</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-2">
                    <div class="card">
                        <img class="card-img-top"
                             src="{{ asset('images/app/construction/construction_maison.jpg') }}"
                             alt="construction maison " height="230px">
                        <div class="card-body">
                            <p class="card-text"> Construction maison </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-2">
                    <div class="card">
                        <img class="card-img-top"
                             src="{{ asset('images/app/construction/renovation.jpg') }}"
                             alt="Renovation de maison ou batiment" height="230px">
                        <div class="card-body">
                            <p class="card-text">Renovation de batiment</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-2">
                    <div class="card">
                        <img class="card-img-top" src="{{ asset('images/app/construction/energie_solaire_LEHYA_PROPERTY_benin.jpg') }}"
                             alt="energie solaire ilheya porperty" height="230px">
                        <div class="card-body">
                            <p class="card-text">Panneaux solaire</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-2">
                    <div class="card">
                        <img class="card-img-top"
                             src="{{ asset('images/app/construction/Construction à distance au Bénin.jpg') }}"
                             alt="construction ilheya" height="230px">
                        <div class="card-body">
                            <p class="card-text">L’obtention du titre foncier.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row descr">
                <p class="descr"> Pour nous mandater veillez nous contacter au (+229) 99403434 ou remplir le formulaire
                    ci-dessous et nous vous contactons. </p>
            </div>
        </div>
    </section>
{% endblock %}