{% extends 'FrontEnd/base.html.twig' %}
{% block style %}
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"/>
    <style>
        .resimg {
            margin: 0px;
            z-index: auto;
            width: 1905px;
            height: 973px;
            background: url(/images/app/securisation_fonciere/ILEHYA PROPERTY CONSTRUCTION.jpg) top fixed;
            /*padding: 0px;*/
            /*border-width: 0px;*/
            /*border-radius: 0px;*/
            /*x: 0px;*/
            /*y: -236.5px;*/
            /*transform: translateX(0px) translateY(-236.5px);*/
            /*filter: none;*/
        }

        #subheader {
            /* background: url(https://www.digitalbath.fr/images/background/bg-subheader.jpg)top fixed; */
            padding-top: 105px;
            display: flex;
            align-items: center;

            -webkit-background-size: 100% !important;
            -moz-background-size: 100% !important;
            -o-background-size: 100% !important;
            background-size: 100% !important;

        }

        .bg-light {
            align-items: center;
            /*margin: 9px;*/
        }

        .section__breadcrumb-v1 h1, h2 {
            /*font-family: "Lato", serif;*/
            color: #ff9000;
            font-family: "Montserrat Bold"
        }

        @media screen and (min-width: 320px) and (max-width: 575px) {

            .section__breadcrumb-v1 h1 {
                font-size: 18px;
            }
        }

        .card-text {
            color: #134363;
            font-size: 15px;
            font-family: "Lato", serif;
            font-weight: 900;
            margin-top: 15px;
    font-size: 19px;
            line-height: 1.5;
            text-align: center;
        }

        .decr p {
            font-size: 18px;
            line-height: 1.6;
            text-align: justify;
        }

        .btn-cicle {
            background-color: #504363 !important;
        }
    </style>

{% endblock %}
 {% block navbar %}
     {% include 'FrontEnd/partials/_navbar_fixed_top.html.twig' %}

 {% endblock %}

{% block content %}

{#     <div class="container-fluid">#}
{#     <div class="row resimg" style="min-width: 1905px; left: 0px; width: 1905px;">#}
{#     <img src="{{ asset('images/app/construction/construction.jpg') }}" class="resimg">#}
{#     </div>#}
{#     </div>#}

{#    <section id="subheader" data-speed="8" data-type="background"#}
{#     style="background:url({{ asset('images/app/construction/construction.jpg') }})top fixed;height: 675px;text-align: center;">#}
{#     <!--<div data-aos="fade-up" class="aos-init aos-animate"> <h1>E-commerce</h1> <h2>La performance e-commerce pour développer votre activité de vente en ligne</h2> </div>-->#}

{#     </section>#}
    <div class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__breadcrumb-v1">
                        <div style="padding: 20px;">
                            <h1 style="text-align: center;"> {{ soustitre }}</h1>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__breadcrumb-v1">
                        <div><h2 style="text-align: center;  color:#ff9000"></h2>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        {# <div class="container decr">
            <div class="row">
                <div class="col-md-12">
                   <h2 style="color: #212529"> Construire est un défi </h2>
                    <p>
                        Construire sa maison à son goût et sans défaut peut sembler à première vue facile dans la mesure
                        où on pense que c’est une question de moyens.
                        Mais en réalité le processus de possession de sa maison, villa ou toute autre type de résidence
                        ou encore d’immeuble devant servir à la location ou à des exploitations commerciales, construit
                        au neuf dont on est soi-même le maitre d’ouvrage peut très vite se révéler très fastidieux
                        surtout quand on n’a pas assez de temps et ou quand on est de la diaspora, loin du lieu où
                        doivent s’exécuter les travaux : Gestion des approvisionnements en matériaux de qualité,
                        problème de qualité de l’ouvrage, problème de livraisons des travaux dans les délais etc. <br>
                        Tout ceci peut devenir très rapidement un casse-tête et vous rendre insomniaque.

                    </p>
                    <p>Par le passé, plusieurs compatriotes ont vu leurs ressources financières envoyées pour des fins
                        de travaux de construction partir en fumé soit détournées par une tierce personne mandatée pour
                        la conduite et l’exécution des travaux, soit par des membres de leurs familles.
                        <br> Aujourd’hui, il n’est plus question de souffrir ces maux après avoir sué pour obtenir ses
                        ressources qui pour vous devraient servir à un ou des investissements structurés, de qualité et
                        livrer à bonne date.

                    </p>
                    <p>
                        Ainsi l’ensemble des travaux de construction que nous réalisons à l’endroit de nos clients sont
                        couverts par une assurance qui couvre les éventuelles erreurs de construction les dommages matériels ou financier qui pourraient
                        survenir dans le cadre de votre projet.
                    </p>

                </div>


            </div>

        </div> #}
        <div class="container decr">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Avec notre équipe d’architectes chevronnés, d’ingénieur et de techniciens en géni-civil, nous
                        vous
                        assurons une gestion de qualité de votre projet de construction par:
                    </p>
                    <ul style="list-style: none">
                        <li><i class="fa fa-check " aria-hidden="true"></i> La conception de votre avant-projet qui vous
                            donne un aperçu de ce qui arrive.
                        </li>
                        <li><i class="fa fa-check " aria-hidden="true"></i> Etudes géotechniques.</li>
                        <li><i class="fa fa-check " aria-hidden="true"></i> La conception du plan architectural
                            définitif retenu ainsi que le devis qui l’accompagne
                        </li>
                        <li><i class="fa fa-check " aria-hidden="true"></i> L’obtention du permis de construire.</li>
                        <li><i class="fa fa-check " aria-hidden="true"></i> L’exécution rigoureuse des travaux du gros
                            œuvre à la finition ainsi que de tous les
                            aménagements nécessaires jusqu’à la livraison clé en main dans le strict respect des délais
                            convenus dans le cahier de charge.
                        </li>
                        <li></li>
                    </ul>
                </div>
                


            </div>
        </div>
        <div class="container decr">
            <div class="row" style=" margin-bottom: 20px;">
            <div class="col-6 col-md-4">
               
                    <figure class="figure">
                        <img src="{{ asset('images/app/construction/plan_architectural_construction_Benin.jpg') }}" class="img-fluid z-depth-1"
                             alt="Plan architectural" style="width:  100%">
                        <figcaption class="figure-caption text-center card-text">
                         Plan architectural  </figcaption>
                    </figure>
              
            </div>
            
            <div class="col-6 col-md-4">
               
                    <figure class="figure">
                        <img src="{{ asset('images/app/construction/ouvrir-un-cabinet-darchitecte.jpg') }}" class="img-fluid z-depth-1"
                             alt="Plan architectural" style="width:  100%">
                        <figcaption class="figure-caption text-center card-text">
                         Étude Génie civil  </figcaption>
                    </figure>
              
            </div>
                {# <div class="col-md-4 col-sm-2">
                    <div class="card">
                        <img class="card-img-top"
                             src="{{ asset('images/app/construction/plan_architectural_construction_Benin.jpg') }}"
                             alt="architectural ilheya porperty" height="230px">
                        <div class="card-body">
                            <p class="card-text">Plan architectural</p>
                        </div>
                    </div>

                </div> #}
            <div class="col-6 col-md-4">
               
                    <figure class="figure">
                        <img src="{{ asset('images/app/construction/etude_geothechnique_ILEHYA_PROPERTY.jpg') }}" class="img-fluid z-depth-1"
                             alt="Etudes géotechniques" style="width:  100%">
                        <figcaption class="figure-caption text-center card-text">
                         Etudes géotechniques  </figcaption>
                    </figure>
               
            </div>
             <div class="col-6 col-md-4">
               
                    <figure class="figure">
                        <img src="{{ asset('images/app/construction/construction_maison.jpg') }}" class="img-fluid z-depth-1"
                             alt="Construction maison" style="width:  100%">
                        <figcaption class="figure-caption text-center card-text">
                        Construction maison </figcaption>
                    </figure>
               
            </div>
                <div class="col-6 col-md-4">
               
                    <figure class="figure">
                        <img src="{{ asset('images/app/construction/renovation.jpg') }}" class="img-fluid z-depth-1"
                             alt="Rénovation maison" style="width:  100%">
                        <figcaption class="figure-caption text-center card-text">
                       Rénovation maison </figcaption>
                    </figure>
               
                </div>

          
                <div class="col-6 col-md-4">
               
                    <figure class="figure">
                        <img src="{{ asset('images/app/construction/energie_solaire_LEHYA_PROPERTY_benin.jpg') }}" class="img-fluid z-depth-1"
                             alt="Rénovation maison" style="width:  100%">
                        <figcaption class="figure-caption text-center card-text">
                      Énergie photovoltaïque </figcaption>
                    </figure>
               
                </div>
                 
                
            </div>
          
            
        </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="title__head">
                    <h2 class="text-center">
                       Projet Type
                    </h2>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
      <div class="container">
        <div class="row">
<!-- SLIDER IMAGE DETAIL -->
<div class="slider__image__detail-large-two owl-carousel owl-theme">
   
   
        
        <div class="item">
            <div class="slider__image__detail-large-one">
                <a data-fancybox="gallery" href="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0000.jpg') }}">

                    <img src="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0000.jpg') }}" 
                         class="img-fluid w-100 img-transition"/>
                   
                </a>
            </div>
        </div>
        <div class="item">
            <div class="slider__image__detail-large-one">
                <a data-fancybox="gallery" href="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0001.jpg') }}">

                    <img src="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0001.jpg') }}"
                         class="img-fluid w-100 img-transition"/>
                   
                </a>
            </div>
        </div>
        <div class="item">
            <div class="slider__image__detail-large-one">
                <a data-fancybox="gallery" href="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0002.jpg') }}">

                    <img src="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0002.jpg') }}"
                         class="img-fluid w-100 img-transition"/>
                   
                </a>
            </div>
        </div>
        <div class="item">
            <div class="slider__image__detail-large-one">
                <a data-fancybox="gallery" href="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0003.jpg') }}">

                    <img src="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0003.jpg') }}"
                         class="img-fluid w-100 img-transition"/>
                   
                </a>
            </div>
        </div>
        <div class="item">
            <div class="slider__image__detail-large-one">
                <a data-fancybox="gallery" href="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0004.jpg') }}">

                    <img src="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0004.jpg') }}"
                         class="img-fluid w-100 img-transition"/>
                   
                </a>
            </div>
        </div>
        <div class="item">
            <div class="slider__image__detail-large-one">
                <a data-fancybox="gallery" href="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0005.jpg') }}">

                    <img src="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0005.jpg') }}"
                         class="img-fluid w-100 img-transition"/>
                   
                </a>
            </div>
        </div>
    
<div class="item">
            <div class="slider__image__detail-large-one">
                <a data-fancybox="gallery" href="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0006.jpg') }}">

                    <img src="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0006.jpg') }}"
                         class="img-fluid w-100 img-transition"/>
                   
                </a>
            </div>
        </div>

</div>

<div class="slider__image__detail-thumb-two owl-carousel owl-theme">
  
        <div class="item">
            <div class="slider__image__detail-thumb-one">
                <img src="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0000.jpg') }}" class="img-fluid w-100 img-transition">
            </div>
        </div>
        
        <div class="item">
            <div class="slider__image__detail-thumb-one">
                <img src="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0001.jpg') }}" class="img-fluid w-100 img-transition">
            </div>
        </div>
        
        <div class="item">
            <div class="slider__image__detail-thumb-one">
                <img src="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0002.jpg') }}" class="img-fluid w-100 img-transition">
            </div>
        </div>
        
        <div class="item">
            <div class="slider__image__detail-thumb-one">
                <img src="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0003.jpg') }}" class="img-fluid w-100 img-transition">
            </div>
        </div>
        
        <div class="item">
            <div class="slider__image__detail-thumb-one">
                <img src="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0004.jpg') }}" class="img-fluid w-100 img-transition">
            </div>
        </div>
        
        <div class="item">
            <div class="slider__image__detail-thumb-one">
                <img src="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0005.jpg') }}" class="img-fluid w-100 img-transition">
            </div>
        </div>
        
        <div class="item">
            <div class="slider__image__detail-thumb-one">
                <img src="{{ asset('images/app/construction/projet-type/IMG-20211112-WA0008.jpg') }}" class="img-fluid w-100 img-transition">
            </div>
        </div>
   

</div>
<!-- END SLIDER IMAGE DETAIL -->
        </div>
        <div class="row descr mt-10" style="margin-top: 25px;">
                <div class="col-md-12">
                    <p class="descr"> Pour nous mandater veillez nous contacter au (+229) 52 74 62 74 ou remplir le
                        formulaire
                        ci-dessous. </p>
                </div>

            </div>
    </div>
    
        <div style="margin-top: 25px">

            <h1 style="text-align: center;"><a href="{{ path('accueil_demande_devis') }}"
                                               class="btn btn-success btn-cicle">Demander un devis</a></h1>
        </div>
    </section>
{% endblock %}