{% extends 'FrontEnd/base.html.twig' %}
{% block titre %} 
Sécurisation Fonciére
{% endblock %}
{% block style %}
    <style>
        .btn-cicle {
            background-color: #504363 !important;
        }

        .en-tete {
            position: relative;
            margin: 0 auto;
            width: 100%;
        }

        .bandeau {
            position: relative;
            max-height: 650px;
            overflow: hidden;
        }

        .bandeau > img {
            width: 100%;
        }
        figcaption {
            margin-top: 15px;
        }
        .resimg {
            margin: 0px;
            z-index: auto;
            width: 1905px;
            height: 973px;
            background: url(/images/app/securisation_fonciere/ilehya_securisation_fonciere.png) top fixed;
            /*padding: 0px;*/
            /*border-width: 0px;*/
            /*border-radius: 0px;*/
            /*x: 0px;*/
            /*y: -236.5px;*/
            /*transform: translateX(0px) translateY(-236.5px);*/
            /*filter: none;*/
        }

        #subheader {
            /* background: url(https://www.digitalbath.fr/images/background/bg-subheader.jpg)top fixed; */
            padding-top: 105px;
            display: flex;
            align-items: center;

            -webkit-background-size: 100% !important;
            -moz-background-size: 100% !important;
            -o-background-size: 100% !important;
            background-size: 100% !important;

        }

        .bg-light {
            align-items: center;
            /*margin: 9px;*/
        }

        .section__breadcrumb-v1 h1, h2 {
            color: #134363;
            font-family: "Montserrat Bold";
            font-size: 22px;
        }

        @media screen and (min-width: 320px) and (max-width: 575px) {

            .section__breadcrumb-v1 h1 {
                font-size: 18px;
            }
        }

        .card-text {
            color: #134363;
            font-size: 15px;
            font-family: "lato", serif;
            font-weight: 900;

            line-height: 1.5;
            text-align: center;
        }

        .decr p {
            font-size: 18px;
            line-height: 1.6;
            text-align: justify;
        }
        @media screen and (min-width: 320px) and (max-width: 575px) {

            .align-items-center img {
                /*width: 100%;*/
            }

            .align-items-center h3 {
                font-size: 19px;
            }

        }
    </style>

{% endblock %}
 {# {% block navbar %}
     {% include 'FrontEnd/partials/_navbar_fixed_top.html.twig' %}

 {% endblock %} #}

{% block content %}
    {# <div class="en-tete"> #}
    {# <div class="bandeau"> #}

    {# <img src="{{ asset('images/app/securisation_fonciere/droit-immobilier2.jpg') }}" width="1600" height="500" #}
    {# class="lazyloaded" data-ll-status="loaded"> #}
    {# <noscript><img src="https://www.casalys-nutrition.fr/wp-content/themes/casalys/images/bandeau_generique.jpg" #}
    {# width="1600" height="485"></noscript> #}
    {# </div> #}


    {# </div> #}
    {# <div class="container-fluid"> #}
    {# <div class="row resimg" style="min-width: 1905px; left: 0px; width: 1905px;"> #}
    {# <img src="{{ asset('images/app/securisation_fonciere/ilehya_securisation_fonciere.png') }}" class="resimg"> #}
    {# </div> #}
    {# </div> #}
    {# <section id="subheader" data-speed="8" data-type="background" #}
    {# style="background:url(/images/app/securisation_fonciere/ilehya_securisation_fonciere.png)top fixed;height: 675px;text-align: center;"> #}
{#        <!--<div data-aos="fade-up" class="aos-init aos-animate"> <h1>E-commerce</h1> <h2>La performance e-commerce pour développer votre activité de vente en ligne</h2> </div>-->#}

{#    </section>#}
    <div class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__breadcrumb-v1">
                        <div style="padding: 20px;">
                            <h1>Sécurisation Foncière</h1></div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <section style="padding-top: 30px">
        <div class="container decr">
            <div class="row d-flex align-items-center">
                <div class="col-md-3 col-12">
                    <img src="{{ asset('images/app/securisation_fonciere/justice-securite-fonciere.jpg') }}" alt="" width="100%">
                </div>
                <div class="col-md-9 col-12">
                    <h2 style="color: #212529"> Que dit la loi? </h2>
                </div>
            </div>
            <div class="row" style="margin-top: 30px">
                <div class="col-md-12">
                    <p>
                        Au Bénin, en milieux urbain, au regard des articles 14 et 61 du code foncier et domanial, tout
                        citoyen de
                        nationalité béninoise ou toute personne originaire de pays où le principe de réciprocité est de
                        mise peut
                        être propriétaire de biens immeuble à savoir parcelle, maison, villa etc… <br>
                        Par contre en milieu
                        rural, seules
                        les personnes de nationalité Béninoise peuvent être propriétaire de bien immeuble en leur nom
                        propre.
                    </p>
                    <p>Sans un minimum de sécurisation foncière d’un bien immeuble bâti ou non bâti, vous n’êtes
                        propriétaire presque de rien, même avec une convention de vente signée par un vendeur.</p>
                    <p>En effet Le code foncier et domanial en république du Bénin ne reconnaît qu’un seul acte comme
                        titre
                        de propriété définitif garantissant une jouissance totale d’un bien immeuble. </p>
                    <p>A défaut du titre foncier, au minimum, une parcelle en milieu rural doit disposer d’une
                        attestation
                        de détention coutumière (ACD) et en milieu urbain d’une attestation de recasement pour permettre
                        une
                        jouissance plus ou moins paisible du bien d’une part et d’autre part permettre la cession par un
                        propriétaire ou un présumé propriétaire à une tierce personne ou à une personne morale selon que
                        le
                        permet le code foncier et domanial. </p>
                    <p></p>
                </div>

{#                <div class="col-md-4">#}
{#                    <div class="text-center">#}
{#                        <img src="{{ asset('images/app/securisation_fonciere/Securisation-fonciere-Benin.jpg') }}"#}
{#                             alt=" ilehya securisation fonciere" class="img-fluid mx-auto d-block">#}
{#                    </div>#}
{#                </div>#}
            </div>
            <div class="row">
                <div class="col-md-12">

                    <p>Il ne suffit donc pas d’acquérir une parcelle auprès d’un vendeur, solder et signer une
                        convention pour prétendre posséder en votre nom le dit bien. De même les héritiers, surtout de
                        terres rurales, aujourd’hui ne peuvent présumer être propriétaire par héritage d’une parcelle ou
                        d’un domaine sans détenir une attestation de détention coutumière. </p>

                    <p>Les formalités de sécurisation foncière au en république du Bénin quoi que peu coûteux, sont
                        extrêmement chronophages et il faut avoir la patience et le temps nécessaire pour y
                        arriver. </p>
                    <p></p>
                </div>

               
            </div>
        </div>
        <div class="container decr">
            <div class="row">
                <div class="col-md-12">
                <p>
                    C’est pour cela que ILEHYA PROPERTY par le biais de son service technique et juridique met à votre
                    disposition une équipe pour vous accompagner dans le processus de sécurisation de vos biens
                    immeuble. Ainsi vous gagner du temps et de l’énergie. <br> Vous n’aurez qu’à aller vaquer à vos
                    occupations habituelles et nous faisons toutes les diligences pour vous obtenir vos actes et titre
                    de propriétés dans les bref délais auprès des autorités compétentes.
                </p>
                </div>
            </div>
        </div>
        <div class="container decr">
            <p> Nous vous accompagnons notamment pour: </p>
            <div class="row" style=" margin-bottom: 20px;">
             <div class="col-6 col-md-3">
               
                    <figure class="figure">
                        <img src="{{ asset('images/app/securisation_fonciere/Attestation-detention-coutumiere.jpg') }}" class="img-fluid z-depth-1"
                             alt="  L’obtention de L’ADC" style="heigth:  230px">
                        <figcaption class="figure-caption text-center card-text">
                        L’obtention de L’ADC </figcaption>
                    </figure>
                        </a>
               
            </div>
             <div class="col-6 col-md-3">
                  <a href="{{ path('infos_fonciere_new') }}">
                    <figure class="figure">
                        <img src="{{ asset('images/app/icones/recasement-1.jpg') }}" class="img-fluid z-depth-1"
                             alt="Le recasement"  style="width:  100%">
                        <figcaption class="figure-caption text-center card-text">
                    Le recasement</figcaption>
                    </figure>
                        </a>
               
            </div>
             <div class="col-6 col-md-3">
                  <a href="{{ path('infos_fonciere_new') }}">
                    <figure class="figure">
                        <img src="{{ asset('images/app/icones/obtention-titre-foncier.jpg') }}" class="img-fluid z-depth-1"
                             alt="Rénovation maison" style="width:  100%">
                        <figcaption class="figure-caption text-center card-text">
                          L’obtention du TF </figcaption>
                    </figure>
                        </a>
               
            </div>
             <div class="col-6 col-md-3">
                       <a href="{{ path('infos_fonciere_new') }}">
                    <figure class="figure">
                        <img src="{{ asset('images/app/icones/plan-et-morcellement.jpg') }}" class="img-fluid z-depth-1"
                             alt="Rénovation maison" style="height:  100%">
                        <figcaption class="figure-caption text-center card-text">
                       Plan et morcellement</figcaption>
                    </figure>
                        </a>
               
            </div>

               
            </div>
            <div class="container">
            <div class="row decr m-10" >
                <div class="col-md-12">
                <p> Pour nous mandater veillez nous contacter au (+229) 52 74 62 74 ou remplir le formulaire ci-dessous. </p>
                </div>
                </div>
            </div>
            <div style="margin-top: 25px">

                <h1 style="text-align: center;"><a href="{{ path('infos_fonciere_new') }}"
                                                   class="btn btn-success btn-cicle">Demander un devis</a></h1>
            </div>
        </div>
    </section>
{% endblock %}