<!doctype html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Centrale des Immobiliers du Benin ||{% block title %} {% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" type="text/css" href="{{ asset('themes/assets/vendors/font-linearicons/style.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('themes/assets/vendors/font-icomoon/style.css') }}">

    {#    <link rel="stylesheet" type="text/css" href="{{ asset('themes/assets/vendors/font-awesome/css/font-awesome.min.css') }}">#}
    {#    <link rel="stylesheet" type="text/css" href="{{ asset('themes/assets/components/core/common/core.cleanui.css') }}">#}
    {#    <link rel="stylesheet" type="text/css" href="{{ asset('themes/assets/components/core/widgets/widgets.cleanui.css') }}">#}
    <link rel="stylesheet" type="text/css"
          href="{{ asset('themes/assets/components/vendors/bootstrap/css/tabs.css') }}">


    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ asset('FrontEnd/assets/css/plugins.css') }}">

    <link rel="stylesheet" type="text/css"
          href="{{ asset('themes/assets/components/vendors/bootstrap/css/card.css') }}">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{{ asset('FrontEnd/assets/css/style.css') }}">

</head>
<body>
<header class="header-wrapper section">
    <div class="header-top bg-theme-white section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="header-top-info">
                        <p class="text-black">Contact - <a href="tel:21548987658">229 ** ** **</a></p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="header-buttons">
                        <a class="header-btn btn" href="#">Ajouter un bien</a>
                        <a class="header-btn btn-border" href="#">S'enregister</a>
                        <a class="header-btn text-black" href="#">Se connecter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="header-section section bg-theme-two">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-2 col-6">
                    <div class="header-logo">
                        <a href="#"><img src="assets/images/logo-2.png" alt=""></a>
                    </div>
                </div>

                <div class="col-lg-10 col-6">
                    <div class="header-mid_right-bar">
                        <nav class="main-menu text-white d-lg-block d-none">
                            <ul>
                                <li><a href="#">Accueil</a></li>
                                <li><a href="#">Les offres</a></li>
                                <li><a href="#">Les demandes</a></li>
                                <li><a href="#">Nos tarifs</a></li>

                                <li><a href="contact-us.html">Contact</a></li>
                            </ul>
                        </nav>
                        <div id="search-overlay-trigger" class="search-icon">
                            <a href="javascript:void(0)"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Mobile Menu -->
                <div class="mobile-menu white-m-bar order-12 d-block d-lg-none col"></div>

            </div>
        </div>
    </div><!-- Header Section End -->
</header>
{% block contenu %}
    {% include'FrontEnd/partials/_slide_heros.html.twig' %}

    {% include 'FrontEnd/partials/_recherche_form.html.twig' %}

    <!-- Featured Properites Start -->
    <div class="featured-properites-section section pt-80 pt-md-60 pt-sm-40 pt-xs-30">
        <div class="container">

            <div class="row">
                <div class="section-title text-left col mb-30 mb-md-20 mb-xs-20 mb-sm-20">
                    <h2>Mise en avant</h2>
                </div>
            </div>

            <div class="row product-slider">

                {% for topBien in biens %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="card">
                            <img src="{{ asset('images/') }}{{ topBien.id }}.jpg" alt="" class="card-img-top">
                            <span class="paymentCard__sum"> {{ topBien.nbreVues }} vues</span>
                            <div class="card-body">
                                <h5 class="card-title infosheader"> {{ topBien.libelle }}</h5>
                                <p class="card-text"> {{ topBien.description }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"> Statuts: &nbsp; &nbsp;&nbsp; <span
                                            class="label_caption">{{ topBien.typeOptions.contratypes.libelle }} </span>
                                </li>
                                <li class="list-group-item"> Categorie:&nbsp; &nbsp;&nbsp;<span
                                            class="label_caption">{{ topBien.proprieteOptions.proprietes.libelle }}</span>
                                </li>
                                <li class="list-group-item"> Adresse:&nbsp; &nbsp;&nbsp;<span
                                            class="label_caption">{{ topBien.adresse }}</span></li>
                                {% if topBien.typeOptions.contratypes.id == 2 %}
                                    <li class="list-group-item"> Loyer :&nbsp; &nbsp;&nbsp;<span
                                                class="label_caption"> {{ topBien.typeOptions.loyer }} Fcfa</span></li>
                                    <li class="list-group-item"> Avance :&nbsp; &nbsp;&nbsp;<span
                                                class="label_caption"> {{ topBien.typeOptions.avance }} Fcfa</span></li>
                                {% elseif topBien.typeOptions.contratypes.id == 1 %}
                                    <li class="list-group-item"> Prix de vente: &nbsp; &nbsp;&nbsp;<span
                                                class="label_caption">{{ topBien.typeOptions.montant }} Fcfa</span></li>
                                    <li class="list-group-item"> Nombre de
                                        chambre: {{ topBien.proprieteOptions.nbreChambre }} | Nombre de
                                        salon: {{ topBien.proprieteOptions.nbreSalon }} </li>
                                {% endif %}
                            </ul>
                            {#                             <div class="card-footer">#}
                            {#                                 <button class="btn btn-success">Modifier</button>#}
                            {#                                 <button class="btn btn-danger">Supprimer</button>#}
                            {#                             </div>#}
                        </div>
                    </div>
                {% endfor %}

                <div class="col-lg-3 col-md-6 col-12 mb-10">
                    <!-- single-property Start -->
                    <div class="single-property mt-30">
                        <div class="property-img">
                            <a href="properties-details.html">
                                <img src="assets/images/propertes/01.jpg" alt="">
                            </a>
                            <span class="level-stryker">FOR RENT</span>
                        </div>
                        <div class="property-desc">
                            <h4><a href="properties-details.html">Mariyasa de Casel </a></h4>
                            <p>
                                <span class="location">22 First street, Chicago, USA</span>
                                <span class="property-info">1200 Sqft, 3 Bed, 2 Bath, 1 Garage </span>
                            </p>
                            <div class="price-box">
                                <p>Price $ 1,59,000</p>
                            </div>
                        </div>
                    </div><!-- single-property End -->
                </div>

                {#                <div class="col-lg-3 col-md-6 col-12">#}
                {#                    <!-- single-property Start -->#}
                {#                    <div class="single-property mt-30">#}
                {#                        <div class="property-img">#}
                {#                            <a href="properties-details.html">#}
                {#                                <img src="assets/images/propertes/02.jpg" alt="">#}
                {#                            </a>#}
                {#                        </div>#}
                {#                        <div class="property-desc">#}
                {#                            <h4><a href="properties-details.html">Rose de Alfanez</a></h4>#}
                {#                            <p>#}
                {#                                <span class="location">132 Future Street, Boston, USA</span>#}
                {#                                <span class="property-info">1600 Sqft, 4 Bed, 2 Bath, 2 Garage </span>#}
                {#                            </p>#}
                {#                            <div class="price-box">#}
                {#                                <p>Price $ 1,59,000</p>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div><!-- single-property End -->#}
                {#                </div>#}

                {#                <div class="col-lg-3 col-md-6 col-12">#}
                {#                    <!-- single-property Start -->#}
                {#                    <div class="single-property mt-30">#}
                {#                        <div class="property-img">#}
                {#                            <a href="properties-details.html">#}
                {#                                <img src="assets/images/propertes/03.jpg" alt="">#}
                {#                            </a>#}
                {#                            <span class="level-stryker-2">FOR RENT</span>#}
                {#                        </div>#}
                {#                        <div class="property-desc">#}
                {#                            <h4><a href="properties-details.html">La Casanda Villa</a></h4>#}
                {#                            <p>#}
                {#                                <span class="location">1 DE Silicon Tower, Denver</span>#}
                {#                                <span class="property-info">1800 Sqft, 6 Bed, 4 Bath, 3 Garage </span>#}
                {#                            </p>#}
                {#                            <div class="price-box">#}
                {#                                <p>Price $2,32,000</p>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div><!-- single-property End -->#}
                {#                </div>#}

                {#                <div class="col-lg-3 col-md-6 col-12">#}
                {#                    <!-- single-property Start -->#}
                {#                    <div class="single-property mt-30">#}
                {#                        <div class="property-img">#}
                {#                            <a href="properties-details.html">#}
                {#                                <img src="assets/images/propertes/04.jpg" alt="">#}
                {#                            </a>#}
                {#                        </div>#}
                {#                        <div class="property-desc">#}
                {#                            <h4><a href="properties-details.html">Rainforest de Olive</a></h4>#}
                {#                            <p>#}
                {#                                <span class="location">22 First street, Chicago, USA</span>#}
                {#                                <span class="property-info">1200 Sqft, 3 Bed, 2 Bath, 1 Garage </span>#}
                {#                            </p>#}
                {#                            <div class="price-box">#}
                {#                                <p>Rent $32,00/m</p>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div><!-- single-property End -->#}
                {#                </div>#}

                {#                <div class="col-lg-3 col-md-6 col-12">#}
                {#                    <!-- single-property Start -->#}
                {#                    <div class="single-property mt-30">#}
                {#                        <div class="property-img">#}
                {#                            <a href="properties-details.html">#}
                {#                                <img src="assets/images/propertes/05.jpg" alt="">#}
                {#                            </a>#}
                {#                        </div>#}
                {#                        <div class="property-desc">#}
                {#                            <h4><a href="properties-details.html">Mariyasa de Casel </a></h4>#}
                {#                            <p>#}
                {#                                <span class="location">22 First street, Chicago, USA</span>#}
                {#                                <span class="property-info">1200 Sqft, 3 Bed, 2 Bath, 1 Garage </span>#}
                {#                            </p>#}
                {#                            <div class="price-box">#}
                {#                                <p>Price $ 1,59,000</p>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div><!-- single-property End -->#}
                {#                </div>#}

                {#                <div class="col-lg-3 col-md-6 col-12">#}
                {#                    <!-- single-property Start -->#}
                {#                    <div class="single-property mt-30">#}
                {#                        <div class="property-img">#}
                {#                            <a href="properties-details.html">#}
                {#                                <img src="assets/images/propertes/06.jpg" alt="">#}
                {#                            </a>#}
                {#                            <span class="level-stryker-2">FOR RENT</span>#}
                {#                        </div>#}
                {#                        <div class="property-desc">#}
                {#                            <h4><a href="properties-details.html">Rose de Alfanez</a></h4>#}
                {#                            <p>#}
                {#                                <span class="location">132 Future Street, Boston, USA</span>#}
                {#                                <span class="property-info">1600 Sqft, 4 Bed, 2 Bath, 2 Garage </span>#}
                {#                            </p>#}
                {#                            <div class="price-box">#}
                {#                                <p>Price $ 1,59,000</p>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div><!-- single-property End -->#}
                {#                </div>#}

                {#                <div class="col-lg-3 col-md-6 col-12">#}
                {#                    <!-- single-property Start -->#}
                {#                    <div class="single-property mt-30">#}
                {#                        <div class="property-img">#}
                {#                            <a href="properties-details.html">#}
                {#                                <img src="assets/images/propertes/07.jpg" alt="">#}
                {#                            </a>#}
                {#                        </div>#}
                {#                        <div class="property-desc">#}
                {#                            <h4><a href="properties-details.html">La Casanda Villa</a></h4>#}
                {#                            <p>#}
                {#                                <span class="location">1 DE Silicon Tower, Denver</span>#}
                {#                                <span class="property-info">1800 Sqft, 6 Bed, 4 Bath, 3 Garage </span>#}
                {#                            </p>#}
                {#                            <div class="price-box">#}
                {#                                <p>Price $2,32,000</p>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div><!-- single-property End -->#}
                {#                </div>#}

                {#                <div class="col-lg-3 col-md-6 col-12">#}
                {#                    <!-- single-property Start -->#}
                {#                    <div class="single-property mt-30">#}
                {#                        <div class="property-img">#}
                {#                            <a href="properties-details.html">#}
                {#                                <img src="assets/images/propertes/08.jpg" alt="">#}
                {#                            </a>#}
                {#                        </div>#}
                {#                        <div class="property-desc">#}
                {#                            <h4><a href="properties-details.html">Rainforest de Olive</a></h4>#}
                {#                            <p>#}
                {#                                <span class="location">22 First street, Chicago, USA</span>#}
                {#                                <span class="property-info">1200 Sqft, 3 Bed, 2 Bath, 1 Garage </span>#}
                {#                            </p>#}
                {#                            <div class="price-box">#}
                {#                                <p>Rent $32,00/m</p>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div><!-- single-property End -->#}
                {#                </div>#}

            </div>

        </div>
    </div>
    <!-- Featured Properites End -->

    <!-- Featured Properites Start -->
    <div class="featured-properites-section section pt-100 pt-md-65 pt-sm-65 pt-xs-60">
        <div class="container">
            <div class="row">
                <div class="section-title text-left col mb-30 mb-md-20 mb-xs-20 mb-sm-20">
                    <h2>Nouveautés</h2>
                </div>
            </div>

            <div class="nav-tabs-horizontal">
                <ul class="nav nav-tabs mb-4" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#home2"
                           role="tab">
                            <i class="icmn-home"></i>
                            A vendre
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#profile2"
                           role="tab">
                            <i class="icmn-users"></i>
                            A louer
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#messages2"
                           role="tab">
                            <i class="icmn-database"></i>
                            Terrain à vendre
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#settings2"
                           role="tab">
                            <i class="icmn-cog"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home2">
                        Mel, incorruptis confidam derepta inportuno perpetuam placatae. Expetenda summam
                        venandi cotidie euripidis vexetur, scribendi recta fortunam
                        hanc oblivione. Iniuria ipso statuam utrumque asperiores
                        eae cogitemus, evertitur triarium perspexit conclusionemque
                        propterea repellendus agatur scilicet, leniter intervalla
                        nocet praeterierunt tuum privatione, senserit sale vias,
                        delectatum dedecora ratione o religionis derigatur diuturnum
                        arbitrantur conspiratione, legam opera splendore iste democritum
                        apte romanum legum egregios.
                    </div>
                    <div class="tab-pane" id="profile2">
                        Mnesarchum velit cumanum utuntur tantam deterritum, democritum vulgo contumeliae
                        abest studuisse quanta telos. Inmensae. Arbitratu dixisset
                        invidiae ferre constituto gaudeat contentam, omnium nescius,
                        consistat interesse animi, amet fuisset numen graecos incidunt
                        euripidis praesens, homines religionis dirigentur postulant.
                        Magnum utrumvis gravitate appareat fabulae facio perveniri
                        fruenda indicaverunt texit, frequenter probet diligenter
                        sententia meam distinctio theseo legerint corporis quoquo,
                        optari futurove expedita.
                    </div>
                    <div class="tab-pane" id="messages2">
                        Faciendi denique miserius iudico, significet ingenii adduci angere efficit linguam.
                        Delectatum copulatas solemus tenere legam ignaviamque diis
                        peccant ornamenta videro, adquiescere bonorum quisquam ceramico
                        minime quodsi corporisque. Nostri pauca gravioribus reici
                        solvantur, angoribus naturalem sed epicurei occultum sola
                        institutionem meminerunt quem fonte, confirmat. Cui eodem
                        perspecta vim solis innumerabiles, videatur status qui quanto
                        sapientiam nomini honestum, comit sumitur nati via.
                    </div>
                    <div class="tab-pane" id="settings2">
                        Dicent feramus necesse proficiscuntur libidinem quisquis, petulantes divitias compositis,
                        disseretur voluptates crudeli sustulisti. Hostis res utuntur
                        bono incurrunt navigandi laboribus istae tali, miserum metuamus
                        labor quasi synephebos iudicante. Effecerit sicine falsarum
                        pugnantibus imperitos, vero successionem exhorrescere illis
                        magnopere deteriora maioribus necessariam industria. Illi
                        variari stabilique augendas suscipiet, corrigere conducunt,
                        divinum affecti, eruditus clarorum. Spatio gustare cupiditates
                        desideret aliena sinat utrumque.
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Featured Properites End -->
{% endblock %}

<script src="{{ asset('FrontEnd/assets/js/plugins.js') }}"></script>
<!-- Map Active JS -->
<script src="{{ asset('FrontEnd/assets/js/maplace-active.js') }}"></script>
<!-- Main JS -->
<script src="{{ asset('FrontEnd/assets/js/main.js') }}"></script>
{% block javascript %}
{% endblock %}
</body>